@page "/contractor/group/edit/{contractorGroupId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject NotificationService NotificationService
<h3>Edit</h3>
<FormCTG ButtonText="@Properties.Dictionary.sharedSave" contractorGroup="@contractorGroup" Submit="@EditContractorGroup" />
@code {
    [Parameter] public int contractorGroupId { get; set; }
    ContractorGroup contractorGroup = new ContractorGroup();
    protected async override Task OnParametersSetAsync()
    {
        contractorGroup = await http.GetFromJsonAsync<ContractorGroup>($"api/contractor/group/{contractorGroupId}");
    }
    async Task EditContractorGroup()
    {
        try
        {
            await http.PutAsJsonAsync("api/contractor/group", contractorGroup);
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = Properties.Dictionary.sharedUpdateOk, Duration = 4000 });
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Błąd!", Detail = ex.ToString(), Duration = 4000 });

        }
        uriHelper.NavigateTo("contractor");
    }

}