<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HomeEnvironmentLifePlanner</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <span class="oi oi-dashboard" aria-hidden="true"></span>Transakcje
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bankStatement">
                <span class="oi oi-calculator" aria-hidden="true"></span>Wyciągi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contractor">
                <span class="oi oi-person" aria-hidden="true"></span>Kontrahenci
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi oi-wrench" aria-hidden="true"></span>Konfiguracja
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
